<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<h2>User info</h2>
			<div class="profile-container">
				<table class="table">
					<tbody>
						<tr>
							<th>
								<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
							</th>
						</tr>
						<tr>
							<th>name</th>
							<th><%= user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= user.introduction %></th>
						</tr>
					</tbody>
				</table>
				<% if user.id == current_user.id %>
				<p>
					<%= link_to "", edit_user_path(user), class: "glyphicon glyphicon-wrench pull-left btn btn-default btn-block" %>
				</p>
				<% end %>
			</div>
			<br>
