<%= form_for(@book, url: books_path) do |f| %>
<h2>New book</h2>
<div class="form-group has-icon">
  <label class="control-label">Title</label><br />
  <%= f.text_field :title, class:"form-control", placeholder:"" %>
  <span class="fa fa-building form-control-icon" aria-hidden="true"></span>
</div>
<label class="control-label">body</label><br />
<%= f.text_area :body, class:"form-control", rows:"2", placeholder:"" %><br>
<%= f.submit "Create Book", class:"btn btn-primary btn-block " %>
<% end %>
</div>
